.cart{
    padding: 20px 0;
    .table{
        
        td{
            img{
                width: 70px !important;
                height: 70px !important;
                object-fit: cover;
            }
            i{
                cursor: pointer;
                font-size: 30px;
            }
        }
    }
}
